@mixin is-loading-animation {
  background-color: var(--grey-500);
  animation-name: moving-gradient;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  border-radius: 1rem;
}

@keyframes moving-gradient {
  0% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.8;
  }
}
