@use "fonts" as *;

@mixin button-style {
  width: 100%;
  cursor: pointer;
  background-color: var(--grey-900);
  color: var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;

  @include text-preset-4-bold;
}
