@use "fonts" as *;

@mixin modal-style {
  &[open] {
    display: grid;
    animation: show-up 0.3s ease-in-out;
    &::backdrop {
      animation: show-up-backdrop 0.3s ease-in-out;
    }
  }

  gap: 1.25rem;
  margin: auto;
  border: none;
  border-radius: 0.75rem;
  padding: 1.5rem 1.25rem;
  width: calc(100% - 2.5rem - 2rem);
  max-width: 32.5rem;

  hgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      @include text-preset-1;
    }

    button {
      cursor: pointer;
      border: none;
      background: none;
      display: flex;
    }
  }

  &::backdrop {
    background-color: #000;
    opacity: 0.5;
  }

  @media screen and (min-width: 48rem) {
    padding: 2rem;
    max-width: 31rem;
  }
}

@keyframes show-up-backdrop {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

@keyframes show-up {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
